<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @datum.question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @datum.answer %>
</p>

<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>
